@import "../../assets/css/mixin.less";
@import "../../assets/css/theme.less";

.root {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;

  .header {
    position: fixed;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    height: @header-height;
    width: 100%;
    justify-items: center;
    display: flex;
    background-image: linear-gradient(
      -90deg,
      @primary-color,
      @primary-color-light
    );
    color: @tab-theme;

    .header-left {
      padding-left: 15px;
      height: 100%;
      .icon {
        display: inline-block;
        vertical-align: middle;
        width: 42px;
        height: 100%;
        fill: @fill-body;
        margin-right: 6px;
      }
      .desc {
        display: inline-block;
        vertical-align: middle;
        font-size: @font-size-medium;
        color: @fill-body;
        font-weight: @font-weight-medium;
      }
    }

    .header-center {
      flex: 1 1 auto;
      .header-search {
        height: 100%;
        box-sizing: border-box;
        padding: 15px 15px;
        .search-box {
          height: 100%;
          background-color: @fill-body;
          border-radius: 5px;
          text-align: center;
          .icon {
            display: inline-block;
            vertical-align: middle;
            width: 42px;
            height: 100%;
            fill: @color-base;
            margin-right: 6px;
          }
          .desc {
            display: inline-block;
            vertical-align: middle;
            font-size: @font-size-medium;
            color: @color-base;
            font-weight: @font-weight-small;
          }
        }
      }
    }

    .header-right {
      padding-right: 15px;
      height: 100%;
      .icon {
        display: inline-block;
        vertical-align: middle;
        width: 42px;
        height: 100%;
        fill: @fill-body;
        margin-right: 6px;
      }
    }
  }

  .content {
    padding-top: @header-height;
    padding-top: calc(@header-height + constant(safe-area-inset-top));
    padding-top: calc(@header-height + env(safe-area-inset-top));
  }
}

.slide-banner {
  .banner-wrapper {
    position: relative;
    .slide-banner-wrapper {
      min-height: 1px;
      overflow: hidden;
      .slide-banner-content {
        height: 234px;
        white-space: nowrap;
        font-size: 0;
        .slide-page {
          display: inline-block;
          height: 225px;
          width: 100%;
          line-height: 225px;
          text-align: center;
          font-size: 26px;
          &.page1 {
            background-color: #95b8d1;
          }
          &.page2 {
            background-color: #dda789;
          }
          &.page3 {
            background-color: #c3d899;
          }
          &.page4 {
            background-color: #f2d4a7;
          }
        }
      }
    }
    .dots-wrapper {
      position: absolute;
      bottom: 4px;
      left: 50%;
      transform: translateX(-50%);
      .dot {
        display: inline-block;
        margin: 0 4px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #eee;
        &.active {
          width: 20px;
          border-radius: 5px;
        }
      }
    }
  }
}

.img{
  width: 750px;
  height: 225px;
}
