.no-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}
.extend-click {
  position: relative;
}
.extend-click:before {
  content: '' !important;
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
}
.clearfix {
  display: inline-block;
}
.clearfix:after {
  display: block;
  content: '' !important;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
.position-full {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f5f5;
}
.loading .icon {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.loading .icon img {
  width: 100%;
}
